.form-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.form-container h1 {
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input {
  margin-bottom: 10px;
  padding: 8px;
}

.form-container button {
  padding: 10px 50px;
  width: 100%;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #45a049;
}

.form-container p {
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
  margin-top: 10px;
}

.form-container p:hover {
  color: #0056b3;
}
