.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-items {
  width: 700px;
  height: 250px;
  display: flex;

  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cart-items img {
  width: 200px;
}

.cart-items .description {
  width: 100%;
  font-size: 30px;
}

.countHandler input,
button {
  width: 30px;
  text-align: center;
  font-weight: bolder;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.empty-cart {
  margin-top: 100px;
  padding: 5px 15px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.empty-cart button {
  width: 150px;
  height: 30px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px 60px;
  cursor: pointer;
}
