.navbar {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}
